.main {
    display: flex;
    flex-direction: column;
  }
  
  .section {
    height: 100vh; /* Each section takes full viewport height */
    width: 100%;
  }

  .com{
    height: fit-content;
    width: fit-content;
    opacity: 0;
  }

  